/* your code here */
.top {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Distributes space between items */ /* Vertically centers the items */
  padding: 10px; /* Optional: Adds padding around the container */
	padding: 4px;
	padding-bottom: 10px;
	padding-top:30px;
}

.logo-details {
  font-size: 24px; /* Adjusts the font size of the logo name */
  font-weight: bold; /* Makes the logo name bold */
}

.media-icons a {
  margin: 0 5px; /* Adds horizontal spacing between icons */
}

.media-icons img {
  width: 32px; /* Sets a consistent width for icons */
  height: 32px; /* Sets a consistent height for icons */
}

.media-icons {
   display: flex; /* Enables flexbox layout */
  justify-content: space-evenly; /* Distributes space evenly around items */
  align-items: center;
	gap:1px;
}
.content{
	background-color:black;
	color:white;
	padding-left:10px;
}
.logo_name{
	color:white;
	font-size:25px;
}
.link-boxes{
	display:flex;
	justify-content: space-evenly; 
	padding-top: 30px;
	padding-bottom:30px;
	
}
.link-boxes div p{
	color:#5D5D5D;
}
a {
text-decoration: none; /* Removes the underline from the link */
color: grey; /* Optional: Set the link color */
        }
.bottom-details{
	background-color:#2C303A;
	display:flex;
	justify-content: space-between;
	color:#BDC0C2;
	padding-left:20px;
	padding-right:20px;
	font:9px;
}
@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }
